<h1 class="mt-4">Arquivos</h1>
<ol class="breadcrumb mb-4">
   <li class="breadcrumb-item active">Cadastro</li>
</ol>

  <div class="container">
    <form #arquivoForm="ngForm" (ngSubmit)="onSubmit()">
      <!--1º Linha form-->
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label>ID:</label>
            <input type="text" class="form-control"
            [ngModel]="arquivo.id_caixa" name="id_caixa" disabled="true" />
          </div>
        </div>

        <div class="col-md-6">
          <div class="form-group">
            <label>Data Inclusão:</label>
            <input type="text" class="form-control"
            [ngModel]="arquivo.data_inclusao" name="data_inclusao" disabled="true" />
          </div>
        </div>
      </div>

       <!--2º Linha form-->
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label>Período inicial:</label>
            <input type="text" class="form-control"
            [(ngModel)]="arquivo.periodo_ini" name="periodo_ini" placeholder="dd/MM/yyy"/>
          </div>
        </div>

        <div class="col-md-6">
          <div class="form-group">
            <label>Período Final:</label>
            <input type="text" class="form-control"
            [(ngModel)]="arquivo.periodo_fim" name="periodo_fim" placeholder="dd/MM/yyy" />
          </div>
        </div>
      </div>

       <!--3º Linha form-->
       <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label>Endereço:</label>
            <input type="text" class="form-control"
            [(ngModel)]="arquivo.endereco" name="endereco" />
          </div>
        </div>

        <div class="col-md-6">
          <div class="form-group">
            <label>Filial:</label>
            <input type="text" class="form-control"
            [(ngModel)]="arquivo.filiais" name="filiais" />
          </div>
        </div>
      </div>

         <!--4º Linha form-->
         <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <label>Doc 01:</label>
              <input type="text" class="form-control"
              [(ngModel)]="arquivo.doc_01" name="doc_01" />
            </div>
          </div>

          <div class="col-md-4">
            <div class="form-group">
              <label>Doc 02:</label>
              <input type="text" class="form-control"
              [(ngModel)]="arquivo.doc_02" name="doc_02"  />
            </div>
          </div>

          <div class="col-md-4">
            <div class="form-group">
              <label>Doc 03:</label>
              <input type="text" class="form-control"
              [(ngModel)]="arquivo.doc_03" name="doc_03"  />
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-2">
            <button type="submit" class="btn btn-success">
              <i class="fa fa-save"></i> Salvar
            </button>
          </div>
        </div>

    </form>



  </div>

