<h1 class="mt-4">Arquivos</h1>
<ol class="breadcrumb mb-4">
   <li class="breadcrumb-item active">Lista de Arquivos</li>
</ol>

<div class="card" style="width: 68rem;">
  <div class="card-body">
    <div class="container">
      <div class="row">
        <form id="search" role="form" style="border:0">
          <div class="col-md-6">
            <ul class="nav nav-stacked">
              <li><strong>From Date</strong></li>
              <li>
                <input type="text" class="form-control" value="2015-06-17" id="dateFrom" />
              </li>
            </ul>
          </div>

          <div class="col-md-6">
            <ul class="nav nav-stacked">
              <li><strong>To Date</strong></li>
              <li>
                <input type="text" class="form-control" value="2015-06-19" id="dateTo" />
              </li>
            </ul>
          </div>

          <div class="col-md-3">
            <ul class="nav nav-stacked">
              <li>&nbsp;</li>
              <li>
                <button class="btn btn-primary" type="button" id="getJsonSrc">Filtrar</button>
              </li>
            </ul>
          </div>
        </form>
      </div>
      <!-- Row -->


        </div>
      </div>
    </div>

<br>

<div class="table-responsive">
  <table class="table table-sm table-striped table-bordered">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Endereço</th>
      <th scope="col">Data INI</th>
      <th scope="col">Data FIM</th>
      <th scope="col">Tipo Doc 01</th>
      <th scope="col">Tipo Doc 02</th>
      <th scope="col">Tipo Doc 03</th>
      <th scope="col">Filiais</th>
      <th scope="col">Data Inclusão</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>A.01.001</td>
      <td>11/05/2022</td>
      <td>11/05/2022</td>
      <td>MOV. CAIXA</td>
      <td>NOTAS FISCAIS ENTRADAS</td>
      <td>DESPESAS DAS FILIAIS</td>
      <td>01-02-03</td>
      <td>25/04/2022</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>A.01.001</td>
      <td>11/05/2022</td>
      <td>11/05/2022</td>
      <td>MOV. CAIXA</td>
      <td>NOTAS FISCAIS ENTRADAS</td>
      <td>DESPESAS DAS FILIAIS</td>
      <td>01-02-03</td>
      <td>25/04/2022</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>A.01.001</td>
      <td>11/05/2022</td>
      <td>11/05/2022</td>
      <td>MOV. CAIXA</td>
      <td>NOTAS FISCAIS ENTRADAS</td>
      <td>DESPESAS DAS FILIAIS</td>
      <td>01-02-03</td>
      <td>25/04/2022</td>
    </tr>
    <tr>
      <th scope="row">4</th>
      <td>A.01.001</td>
      <td>11/05/2022</td>
      <td>11/05/2022</td>
      <td>MOV. CAIXA</td>
      <td>NOTAS FISCAIS ENTRADAS</td>
      <td>DESPESAS DAS FILIAIS</td>
      <td>01-02-03</td>
      <td>25/04/2022</td>
    </tr>
    <tr>
      <th scope="row">5</th>
      <td>A.01.001</td>
      <td>11/05/2022</td>
      <td>11/05/2022</td>
      <td>MOV. CAIXA</td>
      <td>NOTAS FISCAIS ENTRADAS</td>
      <td>DESPESAS DAS FILIAIS</td>
      <td>01-02-03</td>
      <td>25/04/2022</td>
    </tr>

  </tbody>
</table>

</div>
